body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f9;
}

/* Navbar styles */
.navbar {
  margin-bottom: 90px;
  background-color: #343a40;
}



.navbar-nav .nav-link {
  padding: 10px 15px;
}

/* Footer styles */
.footer {
  background-color: #343a40;
  color: #fff;
  padding: 15px;
  text-align: center;
}

/* Job Cards */
.job-card .card {
  height: 100%;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.job-card .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.job-card .card img {
  height: 200px;
  object-fit: cover;
}

.job-card .card-body {
  padding: 20px;
  text-align: center;
}

.job-card .card-body h5 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.job-card .card-body p {
  margin-bottom: 10px;
  font-size: 1rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Modal styles */
.modal-dialog {
  max-width: 600px;
}

.modal-header {
  background-color: #007bff;
  color: #fff;
}

.modal-body {
  background-color: #f4f4f9;
}

.modal-body button {
  background-color: #007bff;
  border: none;
  padding: 12px 30px;
  font-size: 1rem;
  margin-top: 15px;
}

.modal-body button:hover {
  background-color: #0056b3;
}